*,
*::before,
*::after {
    padding: 0;
    margin: 0px;
    border: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    background-color: #EAEAEA;
}

.header {
    height: 60px; /* Высота шапки */
}

.header_inner {
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    top: 0%;
    bottom: 0%;
    padding: 0 16.84px 0 0;
}

.header_inner-name {
    left: 0%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.header_inner-menu {
    display: inline-block;
    float: right;
    padding-top: 20px;
}


.header_inner-menu-favorite {
    display: inline-block;
    padding-right: 15px;
    padding: 0px;
    Position: relative;
}

.circle {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 17.4px;
    height: 17.4px;
    border-radius: 50%;
    text-align: center;
    background: #FFA542;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}

.header_inner-menu-cart {
    display: inline-block;
    margin-left: 15px;
    padding: 0px;
    position: relative;
}

.main {
    
    margin-left: 11%;
    margin-right: 11%;
    flex: 1 1 auto;
    
    
    
}

.product {
    
    width: 350px;
    height: 407px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.image {
    padding-top: 15.07px;
    padding-left: 65.88px;
    padding-right: 64.51px;
}

.product-img {
    width: "219.61px";
    height: "237.07px";
}

.product-info {
    padding-top: 54.36px;
}

.product-name {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
    padding-left: 21.96px;
}

.product-price {
    display: inline-block;
    float: right;
    padding-right: 21px;
    padding-bottom: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFA542;
}

.product-rating {
    display: block;
    padding-left: 21.96px;
    padding-bottom: 32.63px;
    padding-top: 9.98px;
    padding-bottom: 32.6px;
}

.product-img-star {
    display: inline-block;
    float: left;
}

.product-rating-score{
    display: inline-block;
    float: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
    padding-left: 10px;
    
}

.product-price-old {
    
    text-align: right;
    padding-right: 28px;
    padding-top: 0.13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #FFCE7F;
    
}

.product-btn-buy {
    display: inline-block;
    float: right;
    padding-right: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
}

.product-category {
    
}

.product-category-name {
    
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
    padding-bottom: 20px;
    
}
.product-category-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    
    width: 80%;
    height: 149px;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 29px; */
    display: flex;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0px 0px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
    padding: 29px 0 0 29px;
}

.footer_nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.footer_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #000000;    
    
}

.footer_language {
    display: flex;
    flex-direction: row;
}
.footer_language-pic {
    padding: 17px 17px 17px 0;
}

.footer_language-change {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 17px 17px 17px 0;
}

.footer_language-change.checked {
    color: #FFA542;
    font-weight: 700;
}

.footer_social {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding: 29px 29px 0 0;
}

.footer_social-link {
    
    
    margin: 0 0 0 17.9px;
}